# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
__init__.py

# Virtual environment
venv/
env/
/.env

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.suo
*.cache
*.project
*.pyc
*.pyo
*.db
*.db-journal
*.log
*.DS_Store

# Dependency directories
__pycache__/
node_modules/

# LabVIEW-specific files
*.aliases
*.lvlps
*.lvclass
*.lvlib
*.lvproj
*.aliases
*.lvlps
*.lvclass
*.lvlib
*.lvproj

# Compiled LabVIEW files
*.dll
*.exe

# LabVIEW-specific directories
*.aliases/
*.lvlps/
*.lvclass/
*.lvlib/
*.lvproj/

# LabVIEW build directories
*.x64/
*.x86/
*.ARM/
*.mips/
*.ppc/
*.debug/
*.release/

*.txt